.gradle/
.gradle-user/
build/
out/
.idea/
.vscode/
*.iml
local.properties
*.log
hs_err_pid*.log
*.zip

.gradle/
.gradle-user/
build/
libs/
local.properties
*.log
*.zip
__pycache__/
*.pyc
.tmp*/
mods/*/*.jar
